// modal exit icon: #051d59
// text blue: #082c4a
// text green: #3fae5d
// button blue: #082c4a
// cancel button: #3fae5d
.modalXbtn{
    cursor: pointer;
    color: #ffffff;
    background-color: #051d59;
    display: inline-block;
    display: inline-block;
    text-align: center;
    padding: 4px 9px 1px;
    border-radius: 23%;
    font-weight: lighter;
}
.container{
    min-width: 500px;
}

